<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johannesl2.idle_terminal">

    <application
        android:allowBackup="false"
        android:label="Idle Terminal"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@style/Theme.IdleTerminal"> <activity
        android:name=".MainActivity"
        android:theme="@style/Theme.App.Starting"
        android:exported="true"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize|keyboardHidden">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    </application>

</manifest>